<div *ngIf="pokemonDetail" class="row">
    <div class="col s12 m8 offset-m2">
    <h2 class="header center">{{ pokemonDetail.name }}</h2>
    <div class="card horizontal hoverable">
      <div class="card-image">
        <img [src]="pokemonDetail.picture">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <table class="bordered striped">
            <tbody>
              <tr>
                <td>Nom</td>
                <td><strong>{{ pokemonDetail.name }}</strong></td>
              </tr>
              <tr>
                <td>Points de vie</td>
                <td><strong>{{ pokemonDetail.hp }}</strong></td>
              </tr>
              <tr>
                <td>Dégâts</td>
                <td><strong>{{ pokemonDetail.cp }}</strong></td>
              </tr>
              <tr>
                <td>Types</td>
                <td>
                  <span *ngFor="let type of pokemonDetail.types" class="{{ type | pokemonTypeColor }}">{{ type }}</span>
                </td>
              </tr>
              <tr>
                <td>Date de création</td>
                <td><em>{{ pokemonDetail.created | date:"dd/MM/yyyy" }}</em></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-action">
          <a (click)="goToPokemonList()">Retour</a>
          <a (click)="goToEditPokemon(pokemonDetail)">Editer</a>
          <a (click)="deletePokemon(pokemonDetail.id)">Supprimer </a>
        </div>
      </div>
    </div>
    </div>
    </div>
    <h4 *ngIf='!pokemonDetail' class="center"><app-loader></app-loader></h4>